AUTH_SECRET= "kUf4UlPiirlsmqoTGgH088HLTBrcLSry/94SVHnu4r0="
AUTH_TRUST_HOST=true
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY="/vx/dOLR1R1jyvRrF/kbfmkhiTbhMNUCFsmmKSgk6sA="
AUTH_RESEND_KEY=  "re_EKqueDKa_5Tcn4XJMtWE2cgKChVGV6d8w"
NEXTAUTH_URL_MOBILE= "http://ip_publica_server:3000" # colocar ip publica de red
NEXTAUTH_URL= "http://ip_publica_server:3000" # colocar ip publica de red
# URL para peticiones del servidor (dentro del contenedor)
NEXT_PUBLIC_DJANGO_API_URL_SERVER="http://nombre_de_red:8000/api/" # colocar direccion del DNS Interno De Docker
# URL para peticiones del cliente (navegador)
NEXT_PUBLIC_DJANGO_API_URL="http://ip_publica_server:8000/api/" # colocar ip publica de red
NEXT_PUBLIC_API_URL="http://ip_publica_server:3000/api" # colocar ip publica de red
NEXT_PUBLIC_NEST_API_URL_SERVER="http://nombre_de_red:5000/" # colocar direccion del DNS Interno De Docker
NEXT_PUBLIC_NEST_API_URL="http://ip_publica_server:5000/" # colocar ip publica de red
